.button {
  height: 36px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border: none;
  background: rgb(18, 109, 221);
  color: white;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;
  width: 100%;

  &:hover {
    background: rgb(18, 109, 221, 0.8);
  }
}