.booking-home__banner {
  height: 250px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background: url('../../assets/home.png') no-repeat center;
  background-size: cover;
  gap: 20px;
  padding: 48px;

  h1 {
    font-size: 48px;
    color: #fff;
    font-weight: bold;
  }

  span {
    font-size: 16px;
    color: #fff;
    font-weight: 300;
  }
}

.booking-home__data {
  display: flex;

  // if mobile screen size is less than 768px then apply this css
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.booking-list, .available-places {
  width: 100%;
}