.card {
  height: 460px;
  width: 300px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  position: relative;

  &__delete {
    position: absolute;
    right: 5px;
    top: 5px;
    height: 36px;
    color: white;
    width: 36px;
    border-radius: 50%;
 
    background-color: rgb(255, 88, 88);
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1);
      background-color: rgb(255, 0, 0);
    }
  }
 
  &__image {
    border-radius: 5px 5px 0 0;
    object-fit: cover;
    height: 180px;
  }

  &__data {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 15px;
    position: relative;;

    &__btn {
      width: 100%;
      position: absolute;
      bottom: 0;
      width: 200px;
      left: 50%;
      transform: translateX(-50%);
    }

    &__info {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        font-size: 20px;
        font-weight: bold;
        line-height: 24px;
      }

      strong {
        font-size: 24px;
        font-weight: bold;
        color: rgb(18, 109, 221);
      }
    }

    &__location {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 20px;
    }

    &__date {
      display: flex;
      flex-direction: column;
      gap: 5px;
      font-size: 14px;
      font-weight: bold;
    }

    &__guests {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      font-size: 14px;
    }
    
  }
}