.empty-state {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  img {
    height: 100px;
    width: 100px;
    border-radius: 100%;

  }

  &__title {
    font-size: 24px;
    font-weight: 600;
    color: #2c2c2c;
  }

  &__subtitle {
    font-size: 16px;
    font-weight: 400;
    color: #7f7f7f;
  }
}