.bookings-domain {
  padding: 50px;
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 24px;
    font-weight: bold;
  }

  &__cards {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}